<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
     Copyright (c) 2016 Obeo. 
     All rights reserved. This program and the accompanying materials
     are made available under the terms of the Eclipse Public License v1.0
     which accompanies this distribution, and is available at
     http://www.eclipse.org/legal/epl-v10.html
      
      Contributors:
          Obeo - initial API and implementation
     
 -->
 <plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.obeonetwork.excel.importer.ui.contribution1"
            objectClass="java.lang.Object">
         <menu
               label="Excel import/export"
               path="additions"
               id="org.obeonetwork.excel.importer.ui.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Import..."
               class="org.obeonetwork.spreadsheet.importer.ui.popup.actions.ExcelImportAction"
               menubarPath="org.obeonetwork.excel.importer.ui.menu1/group1"
               enablesFor="2"
               id="org.obeonetwork.excel.importer.ui.newAction">
         </action>
         <action
               class="org.obeonetwork.spreadsheet.importer.ui.popup.actions.ExcelExportAction"
               enablesFor="1"
               id="org.obeonetwork.excel.importer.ui.ExportAction"
               label="Export..."
               menubarPath="org.obeonetwork.excel.importer.ui.menu1/group1">
         </action>
      </objectContribution>
   </extension>

</plugin>
