<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.obeonetwork.excel.importer">
      <importer
            className="com.thalesgroup.clarity.excelimport.examples.functions.FuntionImporter"
            name="com.thalesgroup.clarity.excelimport.functions.importer1">
      </importer>
   </extension>
   <extension
         point="org.obeonetwork.excel.importer">
      <importer
            className="com.thalesgroup.clarity.excelimport.examples.requirements.RequirementImporter"
            name="com.thalesgroup.clarity.excelimport.examples.importer2">
      </importer>
   </extension>
   <extension
         point="org.obeonetwork.excel.exporter">
      <exporter
            className="com.thalesgroup.clarity.excelimport.examples.functions.FunctionExcelExporter"
            name="com.thalesgroup.clarity.excelimport.examples.exporter1">
      </exporter>
   </extension>

</plugin>
