<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.obeonetwork.excel.exporter">
      <exporter
            className="org.obeonetwork.spreadsheet.exporter.wizard.ExcelExporterWizard"
            name="org.obeonetwork.excel.exporter.wizard.exporter">
      </exporter>
   </extension>

</plugin>
