<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.obeonetwork.excel.importer.ui.contribution1"
            objectClass="java.lang.Object">
         <menu
               label="Excel import/export"
               path="additions"
               id="org.obeonetwork.excel.importer.ui.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Import..."
               class="org.obeonetwork.excel.importer.ui.popup.actions.ExcelImportAction"
               menubarPath="org.obeonetwork.excel.importer.ui.menu1/group1"
               enablesFor="2"
               id="org.obeonetwork.excel.importer.ui.newAction">
         </action>
         <action
               class="org.obeonetwork.excel.importer.ui.popup.actions.ExcelExportAction"
               enablesFor="1"
               id="org.obeonetwork.excel.importer.ui.ExportAction"
               label="Export..."
               menubarPath="org.obeonetwork.excel.importer.ui.menu1/group1">
         </action>
      </objectContribution>
   </extension>

</plugin>
