<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.obeonetwork.excel.importer">
      <importer
            className="org.obeonetwork.excel.importer.automatic.ExcelImporter"
            name="org.obeonetwork.excel.importer.automatic.importer">
      </importer>
   </extension>

</plugin>
